[defaults]
inventory = inventory.ini
display_skipped_hosts = no
host_key_checking = False
allow_world_readable_tmpfiles = True
deprecation_warnings = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
